@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Adoption Database!</h1>
<p>@Html.ActionLink("See all Animals", "Index", "Animals")</p>
<p>@Html.ActionLink("Add new Animal", "Create", "Animals")</p>